<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- exclude auto properties -->
          <SkipAutoProps>true</SkipAutoProps>

          <!-- exclude tests -->
          <IncludeTestAssembly>False</IncludeTestAssembly>

          <!-- exclude by global attributes commonly used by source generators -->
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>

          <!-- exclude by file path/patterns -->
          <ExcludeByFile>
            **/obj/**/*.cs,
            **/*.g.cs,
            **/Program.cs,
            **/App.razor,
            **/Routes.razor,
            **/*Layout*.razor,
            **/*Error*.razor
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
